@model List<FPTBook.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="List" method="get">
    <div class="form-actions no-color">
        <p>
             <input style="width:500px; height: 40px; border-radius:10px" type="text" name="SearchString" placeholder="Enter Author or Title or Category to find"  value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn button-green" style=" border: 1px solid; " />
        </p>
    </div>
</form>
<div class="container">
      <div class="row">
          @for (var i = 0; i < @Model.Count; i++)
          {
              <div class="col-md-4 col-6" style="padding:15px;">
                  <div class="card" style="width: 18rem;">
                      <img src="@Model[i].ImgUrl" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">@Model[i].Title</h5>     
                           <h6 class="card-title">@Model[i].Author</h6>    
                            <span class="card-title">Price: $
                                @Model[i].Price</span>  <br>  
                           <a asp-action="Details" asp-route-id="@Model[i].Isbn" class="btn  button-green">Details <i class="fa-solid fa-info"></i></a>
                          <a asp-action="AddToCart" asp-route-isbn="@Model[i].Isbn" class="btn  button-green ">Add Cart <i class="fa-solid fa-cart-shopping"></i></a>
                      </div>
                  </div>
              </div>
          }
      </div>
  </div>

<p>
    @ViewBag.message
</p>
<div style="display:flex;text-align:center;justify-content:center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (var i = 0; i < @ViewBag.numberOfPages; i++)
            {
                var style = (ViewBag.currentPage == @i) ? "active" : "";
                <li class="page-item @style">
                    <a class="page-link" asp-route-id="@i">@(i+1)</a>
                </li>
            }
        </ul>
    </nav>
</div>

<style>
    .button-green{
        color: #fff;
    background-color: #4daf54;
    border-color: #4daf54;
    }
</style>